@{
    ViewBag.Title = "Home Page";
}

<div class="portfolio-page">
					<div class="portfolio-box">

						<div class="project-post web-design news">
							<img alt="" src="/upload/image1.jpg">
							<div class="hover-box">
								<div class="project-title">
									<h2>Vintage City</h2>
									<span>development, mobile</span>
									<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post event social">
							<img alt="" src="/upload/image2.jpg">
							<div class="hover-box">
								<div class="project-title">
									<h2>Little Bike</h2>
									<span>development, mobile</span>
									<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post social fund">
							<img alt="" src="/upload/image3.jpg">
							<div class="hover-box">
								<div class="project-title">
									<h2>Farmer Boy</h2>
									<span>development, mobile</span>
									<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post team">
							<img alt="" src="/upload/image4.jpg">
							<div class="hover-box">
								<div class="project-title">
									<h2>Nature Wallpaper</h2>
									<span>development, mobile</span>
									<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post team social">
							<img alt="" src="/upload/image5.jpg">
							<div class="hover-box">
								<div class="project-title">
									<h2>Some Books</h2>
									<span>development, mobile</span>
									<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						<div class="project-post shop">
							<img alt="" src="/upload/image6.jpg">
							<div class="hover-box">
								<div class="project-title">
									<h2>All Stuff in my Table</h2>
									<span>development, mobile</span>
									<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>						

					</div>
				</div>